@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: "Pacifico", cursive;
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap")
        format("woff2");
    }
  }